<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Use stderr to avoid infinite loop (stdout is redirected to capture Synthea output) -->
    <target>System.err</target>
    <!-- Field names to match XTDB's -->
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>timestamp</fieldName>
          <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</pattern>
          <timeZone>UTC</timeZone>
        </timestamp>
        <logLevel><fieldName>level</fieldName></logLevel>
        <loggerName><fieldName>logger</fieldName></loggerName>
        <message><fieldName>message</fieldName></message>
        <threadName><fieldName>thread</fieldName></threadName>
        <mdc><fieldName>context</fieldName></mdc>
        <stackTrace><fieldName>exception</fieldName></stackTrace>
      </providers>
    </encoder>
  </appender>

  <logger name="com.example" level="INFO"/>
  <logger name="xtdb.fhir" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="com.zaxxer.hikari" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>